<div class="dialog">
  <div class="dialog-guide">
    <img src="/assets/{{world.screen.img}}">
  </div>
  <div class="dialog-title">{{world.screen.title}}</div>
  <div class="dialog-message">{{world.screen.message}}</div>
  <div class="dialog-buttons">
    <div class="dialog-next">
      <button class="dialog-button" (click)="nextAction()">Doverujem</button>
      <button class="dialog-button" (click)="nextAction()">Nedvoverejem</button>
      <button class="dialog-button" (click)="nextAction()">Neviem</button>
    </div>
  </div>

</div>
