<div class="documents" *ngIf="documents">
<mat-accordion class="example-headers-align">
  <mat-expansion-panel *ngFor="let document of documents; let i = index"
   [expanded]="curr === document._id"
   (opened)="curr = document._id">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{i + 1}}. Dokument 
      </mat-panel-title>
      <mat-panel-description>
        {{document.data.url}}
        <!-- <mat-icon>account_circle</mat-icon> -->
      </mat-panel-description>
    </mat-expansion-panel-header>
    <div class="answers">
    <p><a [href]="document.data.url" target="_blank">otvoriť stránku v novom okne</a></p>
    <p>URL: <b>{{s(document.data.url)}}</b></p>
    <p>Postoj autora: <b>{{t(1, document.data.author_opinion)}}</b></p>
    <p>Postoj respondenta: <b>{{t(2, document.data.agree_with_author)}}</b></p>
    <p>Autor: <b>{{s(document.data.author)}}</b></p>
    <p>Viac o autorovi: <b>{{t(3, document.data.author_additional)}}</b></p>
    <p>Zdroj príspevku: <b>{{s(document.data.source)}}</b></p>
    <p>Kto stojí za webovou stránkou: <b>{{s(document.data.source_owner)}}</b></p>
    <p>Na aký účel stránka aktuálne slúži?: <b>{{t(4, document.data.main_aim)}}</b></p>
    <p>Dôveryhodnosť(0-10): <b>{{t(5, document.data.credibility)}}</b></p>
    <p>Predmet a cieľ príspevku: <b>{{t(6, document.data.content_aim)}}</b></p>
    <p>S akými zdrojmi a materiálmi autor pracoval?: <b>{{s(document.data.references)}}</b></p>
    <p>Akými prostriedkami sa autor snaží zaujať?: <b>{{t(7, document.data.tools)}}</b></p>
    <p>KOMU je príspevok určený?: <b>{{s(document.data.to_who)}}</b></p>
    <p>Cielený aj na respondenta: <b>{{t(8, document.data.me)}}</b></p>
    <p>PREČO bola táto informácia (príspevok) vytvorený? : <b>{{t(9, document.data.why)}}</b></p>
    </div>
    <!-- <mat-action-row>
      <button mat-button color="primary" (click)="nextStep()">Next</button>
    </mat-action-row> -->
  </mat-expansion-panel>

</mat-accordion>
</div>
<div *ngIf="!documents || (documents && documents.length == 0)" class="noTitle">
  <h3>{{noDocumentTitle}}</h3>
</div>
