doing
<div *ngIf="topics && topics.length" class="display-topics">
not working
  <h2 class="topics-title">{{title}}</h2>

  <table mat-table [dataSource]="topics" class="mat-elevation-z8 table-trials">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

    <!-- Radio Column -->
    <ng-container matColumnDef="radio">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element">
        <input type="radio"  [value]="element.index"
          [(ngModel)]="trialRadio" (change)="onItemChange(element)"
          />
      </td>
    </ng-container>

    <!-- Index Column -->
    <ng-container matColumnDef="index">
      <th mat-header-cell *matHeaderCellDef> No.</th>
      <td mat-cell *matCellDef="let element"> {{element.index}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef> ID </th>
      <td mat-cell *matCellDef="let element"> {{element._id}} </td>
    </ng-container>

    <!-- Topic Name Column -->
    <ng-container matColumnDef="topicName">
      <th mat-header-cell *matHeaderCellDef> Téma </th>
      <td mat-cell *matCellDef="let element"> {{element.topic.name}} </td>
    </ng-container>

    <!-- Code Column -->
    <ng-container matColumnDef="code">
      <th mat-header-cell *matHeaderCellDef> Code </th>
      <td mat-cell *matCellDef="let element"> {{element.code}} </td>
    </ng-container>

    <!-- Participants Column -->
    <ng-container matColumnDef="participants">
      <th mat-header-cell *matHeaderCellDef> Participants </th>
      <td mat-cell *matCellDef="let element"> {{element.count}} </td>
    </ng-container>

    <!-- Language Column -->
    <ng-container matColumnDef="language">
      <th mat-header-cell *matHeaderCellDef> Jazyk </th>
      <td mat-cell *matCellDef="let element"> {{element.language}} </td>
    </ng-container>

    <!-- Run Column -->
    <ng-container matColumnDef="run">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element" style="text-align: right;">
        <button mat-stroked-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        (click)="onItemChange(element)">
          <mat-icon>play_arrow</mat-icon>
          spustiť
        </button>
      </td>
    </ng-container>

    <!-- Statistics Column -->
    <ng-container matColumnDef="results">
      <th mat-header-cell *matHeaderCellDef> Results</th>
      <td mat-cell *matCellDef="let element">
        <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
        (click)="onShowStats(element)">
          <mat-icon>bar_chart</mat-icon>
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
