<div class="join-title">
  <mat-card *ngIf="!userName" class="example-card">
    <mat-card-header>
      <mat-card-title>{{'player.title' | translate}}</mat-card-title>
      <mat-card-subtitle>{{'player.consent' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form class="example-form" (ngSubmit)="join()">
        <mat-form-field class="example-full-width">
          <mat-label>{{'player.name' | translate}}</mat-label>
          <input matInput [formControl]="nameFormControl" autocomplete="off">
          <mat-hint *ngIf="invalidName" style="color: red;">
            {{'player.hint1' | translate}}
          </mat-hint>
        </mat-form-field>
      </form>
    </mat-card-content>
    <mat-card-actions class="action">
      <button mat-button
      (click)="join(null)">{{'player.enter' | translate}}</button>
    </mat-card-actions>
  </mat-card>
  <mat-card *ngIf="userName" class="example-card">
    <mat-card-header>
      <mat-card-title>{{'player.continuename' | translate}} <b>{{userName}}</b>?</mat-card-title>
      <mat-card-subtitle>{{'player.continueinfo' | translate}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-actions class="action">
      <button mat-button
      (click)="no()">{{'player.somebodyelse' | translate}}</button>
      <button mat-button
      (click)="rejoin()">{{'player.continue' | translate}}</button>
    </mat-card-actions>
  </mat-card>
</div>
