<mat-card  class="example-card">
  <mat-card-header>
    <mat-card-title>{{'teacher.topic.title' | translate}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form" [formGroup]="showClassGrp" (ngSubmit)="onSubmit()">
      <mat-form-field appearance="fill" class="example-full-width"
      >
        <mat-label>{{'teacher.topic.template' | translate}}</mat-label>
        <mat-select [formControl]="templateFormControl" required>
          <mat-option value="chat-climatic">{{'teacher.topic.t1' | translate}}</mat-option>
          <mat-option value="chat-generic">{{'teacher.topic.t2' | translate}}</mat-option>
          <mat-option value="form-generic">{{'teacher.topic.t3' | translate}}</mat-option>
        </mat-select>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>{{'teacher.topic.name' | translate}}</mat-label>
        <input matInput [formControl]="nameFormControl" autoComplete='off'>
        <mat-error *ngIf="nameFormControl.hasError('required')">
          {{'teacher.topic.hint1' | translate}}
        </mat-error>
      </mat-form-field>
      <mat-form-field appearance="fill" class="example-full-width"
      >
        <mat-label>{{'teacher.topic.lng' | translate}}</mat-label>
        <mat-select [formControl]="lngFormControl" required>
          <mat-option value="sk">Slovenčina</mat-option>
          <mat-option value="cz">Čeština</mat-option>
          <mat-option value="en">English</mat-option>
        </mat-select>
      </mat-form-field>
      <ng-container *ngIf="isForm() || isGeneric()">
        <mat-form-field class="example-full-width">
          <mat-label>{{'teacher.topic.hypothesis' | translate}}</mat-label>
          <input autocomplete="off" matInput [formControl]="hypothesisFormControl" [placeholder]="'teacher.topic.ph2' | translate">
          <mat-error *ngIf="hypothesisFormControl.hasError('required')">
            {{'teacher.topic.hint2' | translate}}
          </mat-error>
        </mat-form-field>
      </ng-container>
      <!-- <app-chat-climatic-settings *ngIf="templateFormControl.value == 'chat-climatic'"
      (answer) = "onChatClimaticData($event)"
      ></app-chat-climatic-settings>
      <app-chat-settings *ngIf="templateFormControl.value == 'chat-generic'"
      (answer) = "onChatGenericData($event)"
      ></app-chat-settings>
      <app-form-settings *ngIf="templateFormControl.value == 'form-generic'"
      (answer) = "onFormGenericData($event)"
      ></app-form-settings> -->
      <mat-checkbox *ngIf="isAdmin()" id="publicTrialControl" [formControl]="publicTrialControl" class="example-margin">{{'teacher.topic.public' | translate}}</mat-checkbox>
      <br/>
      <ng-container *ngIf="isClimate() || isGeneric()">
        <mat-checkbox [formControl]="showVideo" class="example-margin">{{'teacher.topic.video' | translate}}</mat-checkbox>
        <br/>
        <mat-checkbox [formControl]="showIntro" class="example-margin">{{'teacher.topic.intro' | translate}}</mat-checkbox>
        <br/>
        <mat-checkbox [formControl]="showQuestionaire" class="example-margin">{{'teacher.topic.questionaire' | translate}}</mat-checkbox>
        <br/>
      </ng-container>
      <ng-container *ngIf="isClimate() || isGeneric()">
        <mat-label>{{'teacher.topic.min' | translate}}</mat-label>
        <mat-form-field appearance="fill">
          <mat-select [formControl]="minDocNum">
            <mat-option value="1">1</mat-option>
            <mat-option value="2">2</mat-option>
            <mat-option value="3">3</mat-option>
            <mat-option value="4">4</mat-option>
          </mat-select>
        </mat-form-field>
        <br/>
      </ng-container>
      <!-- <mat-checkbox class="example-margin">Zobraziť na začiatku motivačný komiks</mat-checkbox> -->
      <!-- <br/> -->
      <!-- <mat-checkbox [formControl]="customQuestionaire" class="example-margin">Vlastný dotaznik</mat-checkbox> -->
      <!-- <mat-error *ngIf="customQuestionaire.value">Návrh dotazníka bude v nasledujúcom kroku, zároveň je potrebne definovať vlastné GDPR</mat-error> -->
    </form>
  </mat-card-content>
  <ng-container *ngIf="isClimate() || isGeneric()">
  <mat-label>{{'teacher.topic.time' | translate}} <b>{{5 + 10*minDocNum.value + 5*showIntro.value+ 2*showQuestionaire.value + 3*showVideo.value}} {{'teacher.topic.minutes' | translate}}</b></mat-label>
  <br/>
  <br/>
  </ng-container>
  <mat-label>{{'teacher.topic.code' | translate}} <b>{{code}}</b></mat-label>
  <mat-card-actions class="action">
    <button mat-button
    (click)="create()">{{'teacher.topic.create' | translate}}</button>
    <button mat-button
    (click)="cancel()">{{'teacher.topic.cancel' | translate}}</button>
  </mat-card-actions>
</mat-card>
