    <mat-card>
    <mat-card-header>
      <mat-card-title>Co si myslis o umiestneni, Co si myslis o umiestneni, Co si myslis o umiestneni ...</mat-card-title>
    </mat-card-header>
    <div>
      <section class="example-section">
        <mat-list role="list">
          <mat-list-item role="listitem">Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1</mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem">
            <mat-checkbox disabled class="example-margin answer-checkbox green">Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1</mat-checkbox>
          </mat-list-item>
          <mat-list-item role="listitem">
            Vysvetlenie:
            Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1
          </mat-list-item>
          <mat-divider></mat-divider>
          <mat-list-item role="listitem"><mat-checkbox class="example-margin answer-checkbox">Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1</mat-checkbox></mat-list-item>
          <mat-list-item role="listitem"><mat-checkbox class="example-margin answer-checkbox">Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1 Item 1</mat-checkbox></mat-list-item>
        </mat-list>
      </section>
    </div>
    <mat-card-actions class="chat-action">
      <button mat-stroked-button (click)="sendAnswer()">Odoslať</button>
    </mat-card-actions>
  </mat-card>
