<div *ngIf="participant" class="summary-description-wrapper">
  <div class="summary-description">
    <h2>{{(participant && participant.data && participant.data.intro && participant.data.intro.hypothesis)?participant.data.intro.hypothesis:participant.topic.hypothesis}}</h2>
  </div>
</div>

<div *ngIf="isTeacher && intro != null" class="new-document">
  <mat-expansion-panel (opened)="questionaireOpenState = true"
                       (closed)="questionaireOpenState = false">
    <mat-expansion-panel-header>
      <mat-panel-title>
        {{'doc.intro.title' | translate}} [{{ctTime}}]
      </mat-panel-title>
      <!-- <mat-panel-description>
        {{questionaireOpenState ? '' : 'questionaireOpenState'}}
      </mat-panel-description> -->
    </mat-expansion-panel-header>
    <div class="answers">
    <p>{{'doc.intro.statements' | translate}} <b>{{i1(intro.km_definition)}}</b></p>
    <p>{{'doc.intro.emotions' | translate}} <b>{{i2(intro.question_emotions)}}</b></p>
    </div>
  </mat-expansion-panel>

</div>

<app-display-documents
[noDocumentTitle]="'doc.nodoc' | translate"
[title]="Ni4"
[participantId]="participantId"></app-display-documents >
  <div *ngIf="!isTeacher" class="new-document">
    <button mat-raised-button color="primary" (click)="onNewDocument()"><mat-icon>add</mat-icon>{{'doc.new' | translate}}</button>
    <button mat-raised-button color="primary" (click)="onExit()"><mat-icon>close</mat-icon>{{'doc.finish' | translate}}</button>
  </div>

  <div *ngIf="isTeacher && questionaire != null" class="new-document">
    <mat-expansion-panel (opened)="questionaireOpenState = true"
                         (closed)="questionaireOpenState = false">
      <mat-expansion-panel-header>
        <mat-panel-title>
          {{'doc.questionaire.title' | translate}} [{{qTime}}]
        </mat-panel-title>
        <!-- <mat-panel-description>
          {{questionaireOpenState ? '' : 'questionaireOpenState'}}
        </mat-panel-description> -->
      </mat-expansion-panel-header>
      <div class="answers">
      <p>{{'doc.questionaire.new' | translate}} <b>{{t(questionaire.something_new)}}</b></p>
      <p>{{'doc.questionaire.interesting' | translate}} <b>{{t(questionaire.interesting)}}</b></p>
      <p>{{'doc.questionaire.understandable' | translate}} <b>{{t(questionaire.understandable)}}</b></p>
      <p>{{'doc.questionaire.understandable_explained' | translate}} <b>{{s(questionaire.understandable_explained)}}</b></p>
      <p>{{'doc.questionaire.recommendation' | translate}} <b>{{t(questionaire.recommendation)}}</b></p>
      <p>{{'doc.questionaire.topic_interesting' | translate}} <b>{{t(questionaire.topic_interesting)}}</b></p>
      <p>{{'doc.questionaire.topic_interesting_explained' | translate}} <b>{{s(questionaire.topic_interesting_explained)}}</b></p>
      <p>{{'doc.questionaire.most' | translate}} <b>{{s(questionaire.the_most)}}</b></p>
      <p>{{'doc.questionaire.perceive' | translate}} <b>{{s(questionaire.perceive)}}</b></p>
      <p>{{'doc.questionaire.note' | translate}} <b>{{s(questionaire.note)}}</b></p>
      </div>
    </mat-expansion-panel>

  </div>

  <!-- <div class="summary-notes">
    <quill-editor [styles]="editorStyle" placeholder="Enter Text"
    [modules]="modules"
    [(ngModel)]="htmlText">
    </quill-editor>
  </div> -->

  <div *ngIf="isTeacher" class="new-document">
    <button mat-raised-button color="primary" (click)="exitTeacher()"><mat-icon>close</mat-icon>{{'doc.back' | translate}}</button>
  </div>
