<mat-card class="teacher-welcome">
  <h1>{{'teacher.welcome' | translate}}</h1>
  <p class="t-intro">
    {{'teacher.intro.text1' | translate}}
    <a [href]="'teacher.intro.downloadLink' | translate" download>{{'teacher.intro.download' | translate}}</a>
  </p>
  <p class="t-intro">
    {{'teacher.intro.text2' | translate}}
     <b>{{'teacher.mytopics' | translate}}</b>.
  </p>
  <p class="t-intro">
    {{'teacher.intro.text3' | translate}}
     <b>{{'teacher.activities' | translate}}</b>.
  </p>
  <!-- <h3>Nasledujúce kroky vám ukážu, ako jednoducho využiť interaktívnu vzdelávaciu aplikáciu vo vyučovacom procese:</h3>
  <h3>1. Vytvorte si novu tému v sekcii "Moje témy"</h3>
  <h3>2. Vytvorením témy zároveň vytvoríte pracovnú skupinu, v ktorej budu účastníci/študenti pracovať</h3>
  <h3>3. Zdieľajte kód pracovnej skupiny s respondentmi</h3>
  <h3>4. Vaši účastníci/študenti sa pomocou kódu prihlásia do systému, kde si pomocou interaktívnej aplikácie osvoja proces kritického myslenia a prácu s informáciami</h3>
  <h3>5. Na záver si môžete pozrieť sumár a prehľady pre danú pracovnú skupinu</h3> -->
  <p>
    <img class="guide" [src]="'teacher.intro.approach' | translate">
  </p>
  <p>
    <img class="guide" [src]="'teacher.intro.process' | translate">
  </p>
</mat-card>
