<mat-card class="teacher-welcome">
  <h2>{{'teacher.welcome' | translate}}</h2>
  <!-- <h3>Nasledujúce kroky vám ukážu, ako jednoducho využiť interaktívnu vzdelávaciu aplikáciu vo vyučovacom procese:</h3>
  <h3>1. Vytvorte si novu tému v sekcii "Moje témy"</h3>
  <h3>2. Vytvorením témy zároveň vytvoríte pracovnú skupinu, v ktorej budu účastníci/študenti pracovať</h3>
  <h3>3. Zdieľajte kód pracovnej skupiny s respondentmi</h3>
  <h3>4. Vaši účastníci/študenti sa pomocou kódu prihlásia do systému, kde si pomocou interaktívnej aplikácie osvoja proces kritického myslenia a prácu s informáciami</h3>
  <h3>5. Na záver si môžete pozrieť sumár a prehľady pre danú pracovnú skupinu</h3> -->
  <p>
    <img class="guide" [src]="lng_specific('approach.png')">
  </p>
  <p>
    <img class="guide" [src]="lng_specific('process.png')">
  </p>
</mat-card>
