<div class="dialog3">
  <ul class="list-unstyled">
    <li class="media">
      <img src="https://placeholder.pics/svg/64" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Dokument #1</h5>
        Cras sit amet nibh libero, in gravida nulla.
      </div>
    </li>
    <li class="media my-4">
      <img src="https://placeholder.pics/svg/64" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Dokument #2</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin.
      </div>
    </li>
    <li class="media">
      <img src="https://placeholder.pics/svg/64" class="mr-3" alt="...">
      <div class="media-body">
        <h5 class="mt-0 mb-1">Dokument #3</h5>
        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin. Cras purus odio, vestibulum in vulputate at, tempus viverra turpis.
      </div>
    </li>
  </ul>
  <div class="d2Buttons">
    <button (click)="add()" type="button" class="btn btn-primary">Pridaj dokument</button>
    <button (click)="stats()" type="button" class="btn btn-primary">Štatistiky</button>
    <button (click)="done()" type="button" class="btn btn-primary">Na dnes stačilo</button>
  </div>
  <div class="d2Buttons">
    <button (click)="summary()" type="button" class="btn btn-primary">Už viem dosť chcem uzavrieť tému</button>
  </div>
</div>
